.page-header
  h1 Details :: #{user.firstName} #{user.lastName}

div(about=path_to.user(user)).row
  .field(property='email')= user.email
  .field(property='password')= user.password

.actions
  != link_to('Edit', path_to.edit_user(user), {class: 'action primary'}) + ' '
  != link_to('Delete', path_to.user(user), {class: 'action danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
  != link_to('Index', path_to.users())
